.home {
  width: 100%;
}

.home__input-container {
  width: 100%;
  padding-right: 1em;
  input {
    width: 100%;
  }
}

.home__target {
  margin-top: 2em;
}

.home__target-container {
  margin: 1.5em 0 0 0;
}
